.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 486px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-area: name;
}

@media screen and (max-width: 360px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 1.22;
  }
}